*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

body {
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(9,121,76,1) 0%, rgb(223, 234, 236) 100%);
    height: 100vh;
    display: flex;
    scroll-behavior: smooth;
}



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #020024;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#root {
    width: 80%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 1px 1px 10px 1px;
    padding: 2rem;
    max-height: 75vh;
    overflow-y: auto;
    position: relative;
}

.todoCount{
    text-align: center;
}

.search-input{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.todoItem{
    width: 80%;
    padding: 1rem;
    text-align: center;
    box-shadow: 1px 1px 5px 1px;
    margin: 1rem auto;
    position: relative;
}

.complete{
    text-decoration: line-through;
}

.icon{
    cursor: pointer;
}

.loading-todoItem{
    width: 80%;
    padding: 2rem;
    margin: 1rem auto;
    position: relative;
    transition: .3s ease;
    animation: skeleton;
    animation-duration: 2s;
}

.todoControls{
    position: absolute;
    top: 0;
    right: 0;
}

.todoList{
    width: 80%;
}

.createToDoButton{
    padding: 2rem;
    border-radius: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    box-shadow: 1px 1px 5px 1px;
    margin-top: 1rem;
    z-index: 2;
}

.createToDoButton.--normal{
    background-color: transparent;
    color: rgb(223, 234, 236);
}

.createToDoButton.--reverse{
    color: #020b28;
    background-color: rgb(223, 234, 236);
}

.createToDoButton.--normal:hover{
    background-color: rgb(223, 234, 236);
    color: #020b28;
}

.modalBackground{
    z-index: 1;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent{
    position: absolute;
    width: 40%;
    height: 80%;
    border-radius: .5rem;
    background-color: #68ac93;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeModal{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.modalHeader{
    text-align: center;
}

.modalBody{
    flex-grow: 1;
    width: 80%;
}
.modalForm{
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    height: 80%;
    justify-content: space-around;
    gap: 1rem;

}
.modalBody input {
    height: 50%;
    border-radius: .25rem;
    border: none;
    outline: none;
}
.modalBody button {
    width: 100%;
    border-radius: .25rem;
    padding: 1rem;
    border: none;
    background-color: white;
}

.form_buttons{
    display: flex;
    gap: .5rem;
    width: 100%;    
}

.form_buttons button:hover{
    background-color: lightgray;
}

.form_text{
    flex-grow: 1;
    resize: none;
    font-size: 2rem;
}

@keyframes skeleton {
    0% {
        background-color: lightgray;
    }
    
    50% {
        background-color: rgb(189, 184, 184);
    }
    100% {
        background-color: lightgray;
    }
}